<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
    <div th:replace="fragments.html :: nav"></div>
    <div class="container">
        <div class="py-5 text-center">
           <h2>이메일로 로그인</h2>
        </div>
        <div th:if="${message}" class="alert alert-info alert-dismissible fade show mt-3" role="alert">
            <span th:text="${message}">메시지</span>
        </div>
        <div class="row justify-content-center">
            <form class="col-sm-6"
            th:action="@{/email-login}" th:object="${emailLogInForm}" method="POST">    <!-- 요구사항필요, account 객체를 사용해서 담음-->
                <div class="form-group">
                  <label for="exampleInputEmail1">이메일</label>
                  <input id="email" name="email" th:field="*{email}" type="email" class="form-control" aria-describedby="emailHelp" required>
                  <small class="invalid-feedback">이메일을 입력하세요.</small>
                  <br>
                  <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</small>
                </div>
                <br>
                <button type="submit" class="btn btn-primary" id="submit">이메일 전송</button>
              </form>
    <footer th:replace="fragments.html :: footer"></footer>
</body>
</html>