<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
    <div th:replace="fragments.html :: nav"></div>
    <div class="container">
        <div class="row mt-5 justify-content-center">
            <div class="col-2">
                <svg th:if="${#strings.isEmpty(account.profileImage)}" class="img-fluid float-left rounded img-thumbnail"
                th:data-jdenticon-value="${account.nickname}" width="125" hegiht="125"></svg>
                <img th:if="${!#strings.isEmpty(account.profileImage)}" class="img-fluid float-left rounded img-thumbnail" th:src="${account.profileImage}" width="125" height="125" />
            </div>
            <div class="col-8">
                <h1 class="display-4" th:text="${account.nickname}"></h1>
                <p class="lead" th:if="${!#strings.isEmpty(account.profileline)}" th:text="${account.profileline}"></p>
                <p class="lead" th:if="${#strings.isEmpty(account.profileline) && owner}">
                    한 줄 소개를 추가해주세요.
                </p>
            </div>
        </div>
        <div class="col-8">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    <p th:if="${!#strings.isEmpty(account.location)}">
                        <span style="font-size: 20px;">
                            <i class="fa fa-location-arrow col-1"></i>
                        </span>
                        <span th:text="${account.location}" class="col-9"></span>
                    </p>
                    <p th:if="${owner}">
                        <span style="font-size: 20px;">
                            <i class="fa fa-envelope-o col-1"></i>
                        </span>
                        <span th:text="${account.email}" class="col-9"></span>
                    </p>
                    <p th:if="${owner || #strings.equals(account.role, 'REGULAR')}">
                        <span style="font-size: 20px;">
                            <i class="fa fa-calendar-o col-1"></i>
                        </span>
                        <span th:if="${owner && !#strings.equals(account.role, 'REGULAR')}" class="col-9">
                            <a href="#" th:href="@{'/checkemail?email=' + ${account.email}}">가입을 완료하려면 이메일을 확인하세요.</a>
                        </span>
                        <span th:text="${#dates.format(account.createDate, 'yyyy-MM-dd')}" class="col-9"></span>
                    </p>
                    <div th:if="${owner}">
                        <a class="btn btn-outline-primary" href="#" th:href="@{/settings/profile}">프로필 수정</a>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-team" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    Team
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="fragments.html :: footer"></footer>
</body>
</html>