<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
    <div th:replace="fragments.html :: nav"></div>
    <div sec:authorize="hasRole('ROLE_ASSOCIATE')" class="alert alert-warning" role="alert">
        회원가입을 완료하려면 <a href="" th:href="@{/check-email}" class="alert-link">인증 이메일</a>을 확인하세요.
    </div>
    <footer th:replace="fragments.html :: footer"></footer>
</body>
</html>